<h1>Books</h1>

<%= form_tag "/books", method: "post" do %>
  <input type="text" name="title" required="true" />
  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <input type="submit" name="Add a book">
<% end %>

<ul>
  <% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>">

    <% if book.category %>
      <%= book.title %> (<%= book.category.name %>)
    <% else %>
      <%= book.title %>
    <% end %>

    </a></li>
  <% end %>
</ul>
