<h1><%= @book.title %></h1>

<%= form_tag "/books/#{@book.id}", method: "patch" do %>
  <input type="text" name="title" required="true" />
  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Update book" />
<% end %>

<p><%= @book.errors[:title].first %></p>

</br>
<%= form_tag "/books/#{@book.id}", method: "delete" do %>
  <input type="submit" value="Delete book" id="delete_buton"/>
<% end %>

<p><a href="/">Return to index</a></p>